@model IEnumerable<Sales_App.Models.OrderMaster>

@{
    ViewBag.Title = "ToApproved";
}

<h2>ToApproved</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Costumers.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Approved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Delivered)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Costumers.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Approved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Delivered)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrderMasterID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrderMasterID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrderMasterID })
        </td>
    </tr>
}

</table>
