@model Sales_App.Models.OrderView
@{
    ViewBag.Title = "NewOrder";
}



@using (Html.BeginForm("NewOrder", "SalesOrder", FormMethod.Post))
{
<div class="form-horizontal">
    <div class="container-fluid" >
        <div class="card shadow mb-auto">
            <div class="card-header py-3" style="margin-bottom: 10px;">
                <h6 class="m-0 font-weight-bold text-primary">Nuevo Pedido</h6>
            </div>
            <!-- /.container-fluid -->
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.Sellers.OrderDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Sellers.OrderDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Sellers.OrderDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Sellers.Id, "Cliente", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.DropDownList("SellersID", null, htmlAttributes: new { @class = "form-control", @id = "ComboCliente" })
                    @Html.ValidationMessageFor(model => model.Sellers.Id, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <a class="btn btn-light  btn-icon-split" href="#">

                        <span class="icon text-white-50">
                            <i class="fas fa-save"></i>
                        </span>
                        <input type="submit" value="Guardar" class="btn btn-light">

                    </a>
                    <a href="@Url.Action("AddProduct","SalesOrder",new {  })" class="btn btn-light  btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-shopping-cart"></i>
                        </span>
                        <span class="text">Añadir Producto</span>
                    </a>
                </div>
            </div>
            @{ 
                double total = 0;
                
            }
            

            <div class="table-responsive text-nowrap" style="margin-left: 15px; align-content:center; width:95%;">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Titles.NameItem)
                            </th>
                            <th>
                                Cantidad
                            </th>
                            <th>
                                Precio Unitario
                            </th>
                            <th>
                                Sub total
                            </th>
                            <th></th>
                        </tr>
                    </thead>


                    @for (int i = 0; i < Model.Items.Count; i++)
                    {
                        total += (double)(Model.Items[i].partial);
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Items[i].NameItem)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Items[i].Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Items[i].quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Items[i].partial)
                                   
                            </td>
                            <td style="width:15%;">
                                <!-- @Html.ActionLink("Edit", "Edit", new { id = Model.Items[i].Id })-->

                                
                                <a href="@Url.Action("RemoveItem","SalesOrder",new { id = Model.Items[i].Id })" class="btn btn-danger  btn-icon-split" style="font-size:12px;">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-trash"></i>
                                    </span>
                                    <span class="text">Eliminar</span>
                                </a>
                            </td>
                        </tr>
                        
                            

                        
                            }
                    <tfoot>
                        <th colspan="3">Total</th>
                        <th colspan="2" style="text-align:center;"><p>@String.Format("{0:C}",total)</p></th>
                    </tfoot>
                </table>
                

                <a href="@Url.Action("Index","Items",new {  })" class="btn btn-info btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-backward"></i>
                    </span>
                    <span class="text">Regresar</span>

                </a>

            </div>

            <br />
            
            
        </div>
        </div>
</div>
}
                @section Scripts {

                    <script>
                        $(function () {
                            $("#ComboCliente").chosen();
                        });
                    </script>
                    @Scripts.Render("~/bundles/jqueryval")
                }

